<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" align="center">
        <div>
            <img src="/img/logo.png" width="450" height="120"/>
        </div>
    </div>
    <div class="navbar navbar-inverse" style="margin-top:30px; background-color:white; border:none">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:darkturquoise">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <nav align="center">
                    <ul class="menu" align="center">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Mantenimiento", "Index", "Mantenimientos")</li>
                        <li>@Html.ActionLink("Procesos", "Index", "Procesos")</li>
                        <li>@Html.ActionLink("Informes", "Index", "Informes")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="margin-top:60px;">
            <div class="footer">
                <div class="mensaje">
                    <p>&copy; @DateTime.Now.Year - Derechos Reservados / 2017-5319</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
