@model FinalProg.Models.Departamentos

@{
    ViewBag.Title = "Detalles";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
<h2>Detalles</h2>

<div>
    <h4>Departamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Dep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Dep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Dep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Dep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Dep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Dep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Dep }, new { @Class = "btn btn-warning"}) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
