@model FinalProg.Models.Permisos

@{
    ViewBag.Title = "Eliminar";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
<h2>Eliminar</h2>

<h3>Está seguro de que desea eliminar este registro?</h3>
<div>
    <h4>Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Permisos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Permisos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
